.input-design {
	border-radius: 5px;
	margin-top: 20px;
	display: block;
}
.output-design {
	display: none;
	border-radius: 5px;
	margin-top: 20px;
}
.kilo-mile {
	background-color: #1abc9c;
}
#kilo-mile-done {
	color: #fff;
	background-color: #000;
}
.mile-kilo {
	background-color: #2ecc71;
}
#mile-kilo-done {
	background-color: tomato;
	color: #fff;
}
.inch-cent {
	background-color: #f6e58d;
}
#inch-cent-done {
	background-color: #95afc0;
	color: #000;
}
.cent-inch {
	background-color: #7ed6df;
}
#cent-inch-done {
	background-color: #e056fd;
	color: #000;
}
